In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_excel("/home/omkar/internship/crop_datasets/Cleaned_crop_data/MH2009-10_cleaned.xlsx")
df2 = pd.read_excel("/home/omkar/internship/crop_datasets/Cleaned_crop_data/MH2010-11_cleaned.xlsx")
df4 = pd.read_excel("/home/omkar/internship/crop_datasets/Cleaned_crop_data/MH2011-12_cleaned.xlsx")
df6 = pd.read_excel("/home/omkar/internship/crop_datasets/Cleaned_crop_data/MH2012-13_cleaned.xlsx")
df8 = pd.read_excel("/home/omkar/internship/crop_datasets/Cleaned_crop_data/MH2013-14_cleaned.xlsx")
df10 = pd.read_excel("/home/omkar/internship/crop_datasets/Cleaned_crop_data/MH2014-15_cleaned.xlsx")
df12 = pd.read_excel("/home/omkar/internship/crop_datasets/Cleaned_crop_data/MH2015-16_cleaned.xlsx")

In [3]:
df01 = df.loc[61:78,:]

In [4]:
print(df01)

   State/Crop/District      Year       Season Area (Hectare)  \
61        1.AHMEDNAGAR   2009-10  Kharif                 100
62             2.AKOLA   2009-10  Kharif                 200
63          3.AMRAVATI   2009-10  Kharif                 300
64        4.AURANGABAD   2009-10  Kharif                 200
65              5.BEED   2009-10  Kharif                 400
66          6.BULDHANA   2009-10  Kharif                 100
67             7.DHULE   2009-10  Kharif                 300
68           8.HINGOLI   2009-10  Kharif                 200
69           9.JALGAON   2009-10  Kharif                 200
70            10.JALNA   2009-10  Kharif                 100
71            11.LATUR   2009-10  Kharif                1200
72           12.NAGPUR   2009-10  Kharif                 200
73           13.NANDED   2009-10  Kharif                 800
74        14.NANDURBAR   2009-10  Kharif                 400
75           15.NASHIK   2009-10  Kharif                1000
76         16.PARBHANI   2009-10  Kharif                 800
77             17.PUNE   2009-10  Kharif                 100
78           18.WARDHA   2009-10  Kharif                 100

   Production (Tonnes) Yield (Tonnes/Hectare]
61                 NaN                      0
62                 100                    0.5
63                 100               0.333333
64                 100                    0.5
65                 100                   0.25
66                 NaN                      0
67                 100               0.333333
68                 NaN                      0
69                 NaN                      0
70                 NaN                      0
71                 200               0.166667
72                 100                    0.5
73                 100                  0.125
74                 100                   0.25
75                 300                    0.3
76                 200                   0.25
77                 NaN                      0
78                 NaN                      0

In [5]:
df1 = df.loc[61:78,:]
df3 = df2.loc[61:79,:]
df5 = df4.loc[61:73,:]
df7 = df6.loc[60:80,:]
df9 = df8.loc[59:81,:]
df11 = df10.loc[61:81,:]
df13 = df12.loc[62:82,:]

In [6]:
df1 = df1.append(df3)
df1 = df1.append(df5)
df1 = df1.append(df7)
df1 = df1.append(df9)
df1 = df1.append(df11)
df1 = df1.append(df13)

In [7]:
out_excel = 'Castor2009-16.xlsx'
df1.to_excel(out_excel)